.p-margin {
    color: rgb(51, 49, 49);
}

.h1-margin {
    font-weight: 700;
}

.slider-margin-2 {
    margin-bottom: 150px;
}

.slider-margin {
    margin-bottom: 50px;
}

.h-title {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 50px;
    font-weight: 700;
}

.course-flex {
    display: flex;
}

.p-font {
    font-size: 20px;
    font-weight: 700;
    color: rgb(71, 69, 69);
}

.p-p {
    color: grey;
}

.see-more {
    padding: 25px;
    font-size: 10px;
    font-weight: 700;
}

.p-join {
    width: 500px;
}

.btn-reg {
    margin-left: 300px;
}

.img-width {
    width: 200px;
    padding-left: 50px;
    margin-bottom: 50px;
}

.bg-clr {
    background-color: rgb(34, 33, 33);
}